@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section className="container p-5 my-5 bg-primary text-white">
    <h1 class="display-4"> Client Management System</h1><br />
    <h4 className="text-dark"> Made with &#10084; by Akshay!</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</section>

