@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container p-5 my-5 bg-primary text-white">
    <h1 class="display-4 text-center"> Client Management System</h1><br />
    <h4 class="text-dark text-end"> Made with &#10084; by Akshay !</h4>
</div>

<div class="container">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

